h1 {
    color: rgb(0, 102, 255);
}
h3 {
    color: rgb(102, 57, 175);
}
p {
    color: rgba(74, 182, 47, 0.856);
}
a {
    color: rgb(208, 221, 221);
}
h4 {
    color: rgb(56, 170, 170);
}
h5 {
    color: rgb(48, 123, 194);
}