<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutVirus - Descargar vPro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
</head>
<body>
    <style>
        body {
            background: url(../static/fondo.png);
            background-repeat: repeat;
            background-attachment: fixed;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        a {
            color: beige;
        }
    </style>
    <center>
        <h2>
            Descargar Version Pro - OutVirus
        </h2>
        <br>
        <a href="../docs/OutVirus - v3.exe" download><h3>DESCARGAR</h3></a>
    </center>
</body>
</html>