<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutVirus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>


<body>

    <style>
        body {
            background: url(../static/fondo.png);
            background-repeat: repeat;
            background-attachment: fixed;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    </style>


    <h1>OutVirus - Antivirus Profesional</h1>
    <br>
    <br>
    <h3>Antivirus Profesional escrito en Python</h3>
    <br>
    <h4>Creado por MarcosHR-coder (En github)</h4>
    <br>
    <br>
    <p>
        Solo apto para Windows a partir de Windows 7. 
    </p>
    <p>
        
        Versión mas reciente del producto: 3

    </p>
    <p>
        También puede optar a una versión Pro

    </p>
    <p>
        Se recomienda actualizar el producto a versiones posteriores cuando estas estén públicas. 
    </p>
    
    <p>
        Hecho en España. 
    </p>
    <p>
        Este Software analiza los programas en ejecución en segundo plano y frena la ejecución de estos si no pertenecen al sistema o pertenecen a un programa instalado por el usuario, el cual contiene malware.
    
        El programa esta escrito en Python3 y C++ con Pycharm, Clion y VSCode.
    </p>

    <br>
    <h3>¿Que ventajas tengo al usar este antivirus?</h3>
    <h5>- Mas seguridad en el equipo</h5>
    <h5>- Mas velocidad al renderizar la interfaz</h5>
    <h5>- Mas rapidez</h5>
    <br>
    <br>
    
    <a href="/info_v3">Conoce la Versión 3 del producto y descárgala</a>
    <br>
    <br>
    <a href="/info_vpro">Conoce la Versión Pro y descárgala</a>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>