<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutVirus - vPro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
</head>
<body>
    <style>
        body {
            background: url(../static/fondo.png);
            background-repeat: repeat;
            background-attachment: fixed;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        h1 {
            color: rgb(160, 196, 33);
        }
        h3 {
            color: rgb(39, 96, 202);
        }
        p {
            color: darkgoldenrod;
        }
        a {
            color: beige;
        }
    </style>
    <h1>Versión Pro - OutVirus</h1>
    
    <br>
    
    <h2>Características de la Versión</h2>
    
    <br>
    <br>

    <p>
        - Esta versión se configura completamente desde consola
    </p>
    <p>
        - Su interfaz es mediante consola de comandos
    </p>
    <p>
        - Se permite registrarse con usuario de github e introduciendo su página web
    </p>
    <p>
        - Para usar esta versión son necesarios conocimientos básicos de Python
    </p>
    <p>
        - Se requiere saber usar la Terminal de Windows
    </p>
    <p>
        - Es necesario saber ejecutar programas desde la Terminal
    </p>
    <p>
        - Se recomienda tener conocimientos básicos de programación
    </p>
    <p>
        - Se requiere que el equipo donde va a ser ejecutado el programa sea de 64 bits y posea Windows
    </p>

    <br>
    <br>

    <h2>Instrucciones de uso y configuración de esta Versión</h2>

    <br>

    <p>
        1. Inicie el programa portable, tras haberlo descargado en el link al final de la pagina: 'mainvpro.exe'
    </p>
    <p>
        2. El programa se abrirá en terminal
    </p>
    <p>
        3. En la primera flecha introduzca el idioma con el que desee configurar el programa (es, ing, fr)
    </p>
    <p>
        4. En la segunda flecha se configura el nombre de usuario (Opcional)
    </p>
    <p>
        5. En la tercera flecha se configura su correo electrónico (Opcional)
    </p>
    <p>
        6. En la cuarta flecha se configura su página web como desarrollador
    </p>
    <p>
        7. En la quinta flecha se configura su usuario de Github (Opcional)
    </p>
    <p>
        8. Espere hasta que finalicen los procesos de configuración y se abrirá una terminal
    </p>
    <p>
        9. Comandos:
    </p>
    <p>
        - re - revisión del equipo
    </p>
    <p>
        - rc - revisión completa del equipo
    </p>
    <p>
        - exit - cerrar el programa
    </p>

    <br>
    <br>

    <a href="/download_vpro">DESCARGARLO YA</a>

    <br>
    <br>
    <br>
    <br>

</body>
</html>