<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutVirus - v3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
</head>
<body>
    <style>
        body {
            background: url(../static/fondo.png);
            background-repeat: repeat;
            background-attachment: fixed;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        h1 {
            color: rgb(160, 196, 33);
        }
        h3 {
            color: rgb(39, 96, 202);
        }
        p {
            color: darkgoldenrod;
        }
        a {
            color: beige;
        }
    </style>
    
    <h1>Version 3 - OutVirus</h1>
    <br>
    <h2>Novedades y características</h2>
    <br>
    <br>
    <p>
        - Diseño mas tradicional
    </p>
    <p>
        - Configurable en Varios Idiomas: Español, Inglés y Francés
    </p>
    <p>
        - Incluye panel de registro para el usuario
    </p>
    <p>
        - Mucha rapidez al examinar el equipo
    </p>
    <p>
        - Cuenta con dos opciones de examen: una rápida y otra profunda
    </p>
    <p>
        - La aplicación se vincula por correo electrónico
    </p>
    <p>
        - Se instala con un autoextraible y de manera rápida e intuitiva
    </p>
        
    <br>
    <br>

    <h2>Como descargar e instalar este programa</h2>

    <br>

    <p>
        1. Descargue el instalador en el link del final de la página
    </p>
    <p>
        2. Ejecútelo y siga el programa de instalación
    </p>
    <p>
        3. Tras finalizar la instalación, abra el acceso directo del escritorio
    </p>
    <p>
        4. Solicite una licencia introduciendo sus datos como usuario
    </p>
    <p>
        5. En poco tiempo le llegará por correo una licencia completamente original para el programa
    </p>
    <p>
        6. Vuelva a ejecutar el programa y seleccione la opción: 'Ya tengo licencia'
    </p>
    <p>
        7. En la pantalla que se le mostrará a continuación, introduzca la licencia que le llegó por correo
    </p>
    <p>
        8. Continue con el asistente de inicio
    </p>

    <br>
    <br>


    <a href="/download_v3">DESCARGARLO YA</a>

    <br>
    <br>
    <br>

</body>
</html>